table {
border: 1px solid gray;
border-collapse: collapse;
}
td, th {
border: 1px solid gray;
padding: 4px;
}

/** color scheme for teams ***/
tr.Communication td {
background: blanchedalmond;
}
tr.PL td {
background: lightblue;
}
tr.Assessment td {
background: salmon;
}
tr.CCE td {
background: silver;
}
tr.Operations td {
background: gold;
}
tr.Curriculum td {
background: lightgreen;
}
tr.GearUp td {
background: lavender;
}